/* Fonts */

/* (1) Display font - Junicode */

/* Junicode Regular */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode'),
        url('assets/fonts/junicode/Junicode.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;

  font-display: swap;
}

/* Junicode Bold */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode Bold'), local('Junicode-Bold'),
        url('assets/fonts/junicode/Junicode-Bold.woff2') format('woff2');

  font-weight: bold;
  font-style: normal;

  font-display: swap;
}

/* Junicode Italic */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode Italic'), local('Junicode-Italic'),
        url('assets/fonts/junicode/Junicode-Italic.woff2') format('woff2');

  font-weight: normal;
  font-style: italic;

  font-display: swap;
}

/* Junicode Bold Italic */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode Bold Italic'), local('Junicode-BoldItalic'),
        url('assets/fonts/junicode/Junicode-BoldItalic.woff2') format('woff2');

  font-weight: bold;
  font-style: italic;

  font-display: swap;
}

/* (2) Body font - Bricolage Grotesque */

/* Bricolage Grotesque (variable) */
@font-face {
  font-family: 'Bricolage Grotesque';
  src:  local('Bricolage Grotesque'), local('Bricolage-Grotesque'),
        url('assets/fonts/bricolage-grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff2') format('woff2');

  /* Make the entire range of weights of the font available. */
  font-weight: 200 800;
}

/* CSS Variables */
:root {
  /* (1) Fonts */

  /* (1 - A) System font stacks */

  /* (1) System font stack for transitional fonts (Junicode) — see notes at https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#transitional */
  --display-system-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

  /* (2) System font stack for neo-grotesque fonts (Bricolage Grotesque) — see notes at https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#neo-grotesque */
  --body-system-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  /* (3) System font stack to render native emojis — refer to https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#emoji-support */
  --native-emoji-font-stack: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* (1 - B) Site fonts */

  --display-font: 'Junicode', var(--display-system-font-stack), var(--native-emoji-font-stack);
  --body-font: 'Bricolage Grotesque', var(--body-system-font-stack), var(--native-emoji-font-stack);

  /* Make the computed value of `1rem` equal to `10px`, without overriding the user-preferred font size */
  font-size: 62.5%;

  /* (2) Colors */

  color-scheme: light dark;

  --brand-color: #F76F53;

  --background-color: #F2F0E3;
  --foreground-color: #2E2E2E;

  /* Used as the background color for secondary buttons and hover/focus states. */
  --muted-color: rgba(0, 0, 0, 0.05);

  /* (3) Other */

  --default-border: 1px solid var(--brand-color);
  --default-border-radius: 4px;
}

:root.dark {
  /* (2) Colors */

  --background-color: #1F1F1F;
  --foreground-color: #D1CFC0;

  /* Used as the background color for secondary buttons and hover/focus states. */
  --muted-color: rgba(255, 255, 255, 0.15);
}

/* (0) General styles */

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
}

*, *::before, *::after {
  box-sizing: border-box;

  /* Default values for transition properties that may be overridden in subsequent rulesets. */
  transition-property: background-color, color, border-color, outline-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  /* Allows transitions of `outline-color` to play correctly. */
  outline-color: transparent;
}

*:not(dialog) {
  margin: 0;
}

*:focus {
  outline-color: transparent;
}

*:focus-visible {
  outline: 2px solid var(--foreground-color);
  outline-offset: 2px;
  
  border-radius: var(--default-border-radius);
}

.inverted-color-scheme *:focus-visible {
  outline-color: var(--background-color);
}

*::selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

*:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

a {
  font: inherit;
  color: var(--foreground-color);

  border-radius: var(--default-border-radius);
}

.minimalist-logo-and-wordmark a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:not(:is(.icon)):hover, button:hover {
  background-color: var(--muted-color);
}

a.icon-with-text, a[target="_blank"] {
  display: flex;
  align-items: center;

  gap: 0.15em;
}

#page-footer .links-container > a:hover,
#page-footer .links-container > a:focus-visible {
  color: var(--original-color, var(--brand-color));
  outline-color: var(--original-color, var(--brand-color));
}

a:has(svg > use[href*="github"]) {
  --original-color: #181717;
}

a:has(svg > use[href*="bluesky"]) {
  --original-color: #1185FE;
}

a:has(svg > use[href*="mastodon"]) {
  --original-color: #6364FF;
}

b {
  /* The specification does not specify default styles for the `b` element. */  
  font-weight: bold;
}

button, input, textarea, select {
  appearance: none;
  background: none;

  border: none;
  border-radius: var(--default-border-radius);

  padding: 0;

  outline: none;

  font: inherit;
}

a, button, input, textarea, select {
  transition-timing-function: ease-out;
}

a:hover, a:focus-visible,
button:hover, button:focus-visible,
input:hover, input:focus-visible,
textarea:hover, textarea:focus-visible,
select:hover, select:focus-visible {
  transition-timing-function: ease-in;
}

img, canvas, picture, svg, video {
  display: block;

  max-width: 100%;
}

svg {
  aspect-ratio: 1 / 1;
  width: 0.85em;
  height: auto;

  fill: currentColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-font);

  /* Baseline: Newly Available */
  text-wrap: balance;
}

p {
  /* Baseline: Newly Available */
  text-wrap: pretty;
}

.interactive-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inverted-color-scheme {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.inverted-color-scheme a {
  color: var(--brand-color);
}

.inverted-color-scheme a.icon {
  color: var(--background-color);
}

:root.dark .inverted-color-scheme a {
  /* Brand color not used as it has low contrast with the background */
  color: var(--background-color);
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;
  border: 0;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Render text with anti-aliasing. From https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#anti-aliasing */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;

  font-family: var(--body-font);
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);

  line-height: 1.5;

  /* `word-wrap` has wider browser support than its synonym `overflow-wrap`. */
  word-wrap: break-word;

  background-color: var(--background-color);
  color: var(--foreground-color);

  height: 100vh;
}

body > * {
  padding: 8px 0.5%;
}

/* (1) Header styles */

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: var(--default-border);

  /* Vertically aligns other header elements so that they are roughly on the same horizontal level as the center of the header logo */
  --margin-top: 1.6px;
}

#page-header svg {
  aspect-ratio: 1 / 1;

  fill: var(--brand-color);
}

.minimalist-logo-and-wordmark {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Prevents the wordmark from being centered when the logo is not present */
  width: fit-content;

  gap: 0.25em;

  color: var(--brand-color);
}

.minimalist-logo-and-wordmark:not(:is(.no-logo)) a {
  padding-right: 0.2em;
}

.minimalist-logo {
  width: 1.75em;
  height: auto;
}

.minimalist-wordmark {
  font-family: var(--body-font);
  font-weight: bold;

  margin-top: var(--margin-top);
}

#page-header .minimalist-wordmark {
  /* Brand color not used in light mode, as it has poor color contrast with the background. */
  color: var(--foreground-color);
}

:root.dark .minimalist-wordmark {
  color: inherit;
}

#page-title {
  font-size: 1.5em;
}

#page-header button {
  padding: 0.25%;
}

#page-header button > img, #page-header button > svg {
  width: 1.75em;
  
  margin-top: var(--margin-top);
}

#page-header .button-link-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* (2) Main styles */

main {
  flex-grow: 1;
}

/* (3) Footer styles */

#page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  padding-left: 2%;
}

#footer-text, #footer-text > * {
  display: flex;
  flex-direction: column;
}

#footer-text {
  gap: 16px;

  font-size: 0.925em;

  padding-top: 14px;
  padding-bottom: 18px;
}

#footer-text .about-author {
  gap: 10px;
}

#page-footer .minimalist-logo-and-wordmark > * {
  font-size: 2em;

  color: var(--background-color);
}

#page-footer .links-container {
  display: flex;
  justify-content: left;
  align-items: center;

  gap: 1.25rem;
}

#page-footer .icon > * {
  width: 1.25em;
}

#footer-illustration {
  display: grid;
  justify-content: end;
  align-items: center;

  width: 50%;
  height: 100%;

  overflow: clip;
}

#page-footer #footer-illustration > svg {
  transform: scale(19) translate(-30%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1F1F1F;
    --foreground-color: #D1CFC0;
    
    /* Used as the background color for secondary buttons and hover/focus states. */
    --muted-color: rgba(255, 255, 255, 0.15);
  }

  :root .inverted-color-scheme a {
    /* Brand color not used as it has low contrast with the background */
    color: var(--background-color);
  }

  :root .minimalist-wordmark {
    color: inherit;
  }

  :root.light {
    --brand-color: #F76F53;
    
    --background-color: #F2F0E3;
    --foreground-color: #2E2E2E;
  
    /* Used as the background color for secondary buttons and hover/focus states. */
    --muted-color: rgba(0, 0, 0, 0.05);
  }

  :root.light .inverted-color-scheme a:not(:is(.icon)) {
    color: var(--brand-color);
  }

  :root.light #page-header .minimalist-wordmark {
    /* Brand color not used in light mode, as it has poor color contrast with the background. */
    color: var(--foreground-color);
  }
}
