/* Fonts */

/* (1) Display font - Junicode */

/* Junicode Regular */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode'),
        url('assets/fonts/junicode/Junicode.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;

  font-display: swap;
}

/* Junicode Bold */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode Bold'), local('Junicode-Bold'),
        url('assets/fonts/junicode/Junicode-Bold.woff2') format('woff2');

  font-weight: bold;
  font-style: normal;

  font-display: swap;
}

/* Junicode Italic */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode Italic'), local('Junicode-Italic'),
        url('assets/fonts/junicode/Junicode-Italic.woff2') format('woff2');

  font-weight: normal;
  font-style: italic;

  font-display: swap;
}

/* Junicode Bold Italic */
@font-face {
  font-family: 'Junicode';
  src:  local('Junicode Bold Italic'), local('Junicode-BoldItalic'),
        url('assets/fonts/junicode/Junicode-BoldItalic.woff2') format('woff2');

  font-weight: bold;
  font-style: italic;

  font-display: swap;
}

/* (2) Body font - Bricolage Grotesque */

/* TODO: Replace the variable font files with the required static font files, if feasible. */

/* Bricolage Grotesque (variable) */
@font-face {
  font-family: 'Bricolage Grotesque';
  src:  local('Bricolage Grotesque'), local('Bricolage-Grotesque'),
        url('assets/fonts/bricolage-grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff2') format('woff2');

  /* Make the entire range of weights of the font available. */
  font-weight: 200 800;
}

/* CSS Variables */
:root {
  /* (1) Fonts */

  /* (1 - A) System font stacks */

  /* (1) System font stack for transitional fonts (Junicode) — see notes at https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#transitional */
  --display-system-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

  /* (2) System font stack for neo-grotesque fonts (Bricolage Grotesque) — see notes at https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#neo-grotesque */
  --body-system-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  /* (3) System font stack to render native emojis — refer to https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#emoji-support */
  --native-emoji-font-stack: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* (1 - B) Site fonts */

  --display-font: 'Junicode', var(--display-system-font-stack), var(--native-emoji-font-stack);
  --body-font: 'Bricolage Grotesque', var(--body-system-font-stack), var(--native-emoji-font-stack);

  /* (2) Colors */

  --brand-color: #F76F53;
}

:root {
  --background-color: #F2F0E3;
  --foreground-color: #2E2E2E;

  /* Used as the background color for secondary buttons and hover/focus states. */
  --muted-color: rgba(0, 0, 0, 0.05);
}

:root.dark {
  --primary-color: #1F1F1F;
  --secondary-color: #D1CFC0;

  /* Used as the background color for secondary buttons and hover/focus states. */
  --muted-color: rgba(255, 255, 255, 0.05);
}

/* 
Index of Styles
---------------

(0) General styles
(1) Header styles
(2) Main styles
(3) Footer styles
*/

/* (0) General styles */

*, *::before, *::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

*:focus, *:focus-visible {
  outline: none;
}

*::selection {
  /* Place selection styles here. */
}

button, input {
  appearance: none;

  border: none;
  outline: none;

  font: inherit;
}

html {
  /* Render text with anti-aliasing. From https: //github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#anti-aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
}

/* (1) Header styles */

/* (2) Main styles */

/* (3) Footer styles */

