/* Fonts */

/* Junicode */

@font-face {
  /* Junicode Regular */
  font-family: 'Junicode';
  src:  local('Junicode'),
        url('assets/fonts/junicode/Junicode.woff2') format('woff2'),
        url('assets/fonts/junicode/Junicode.woff') format('woff');

  font-weight: normal;
  font-style: normal;

  font-display: swap;
}

@font-face {
  /* Junicode Bold */
  font-family: 'Junicode';
  src:  local('Junicode Bold'), local('Junicode-Bold'),
        url('assets/fonts/junicode/Junicode-Bold.woff2') format('woff2'),
        url('assets/fonts/junicode/Junicode-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;

  font-display: swap;
}

@font-face {
  /* Junicode Italic */
  font-family: 'Junicode';
  src:  local('Junicode Italic'), local('Junicode-Italic'),
        url('assets/fonts/junicode/Junicode-Italic.woff2') format('woff2'),
        url('assets/fonts/junicode/Junicode-Italic.woff') format('woff');

  font-weight: normal;
  font-style: italic;

  font-display: swap;
}

@font-face {
  /* Junicode Bold Italic */
  font-family: 'Junicode';
  src:  local('Junicode Bold Italic'), local('Junicode-BoldItalic'),
        url('assets/fonts/junicode/Junicode-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/junicode/Junicode-BoldItalic.woff') format('woff');

  font-weight: bold;
  font-style: italic;

  font-display: swap;
}

/* Bricolage Grotesque */

@font-face {
  /* Bricolage Grotesque (variable) */
  font-family: 'Bricolage Grotesque';
  src:  local('Bricolage Grotesque'), local('Bricolage-Grotesque'),
        url('assets/fonts/bricolage-grotesque/subset-BricolageGrotesque.woff2') format('woff2'),
        url('assets/fonts/bricolage-grotesque/subset-BricolageGrotesque.woff') format('woff');

  /* Make the entire range of weights of the font available. */
  font-weight: 200 800;
}

/* CSS Variables */
:root {
  /* Colors */

  /* Place your color variables here. */

  /* Fonts */

  /* 
  Sources for system font stacks:
  (*) CSS Tricks' system font stack (last updated on October 26, 2022)
      Useful when matching the user's operating system's font is desired.

      https://www.css-tricks.com/snippets/css/system-font-stack/

  (*) Modern Font Stacks: https://www.modernfontstacks.com/
  (*) System Font Stacks: https://www.systemfontstack.com/

  You may need to add and/or remove fonts to and/or from the stack and/or change the order of the fonts in the stack.
  */

  --system-font-stack: /* Place your system font stack here. */;
}

/* 
Index of Styles
---------------

Place subsection names under section names.
You may need to use different sections depending on your page layout.

(0) General styles
(1) Header styles
(2) Main styles
(3) Footer styles
*/

/* (0) General styles */

*, *::before, *::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

*:focus, *:focus-visible {
  outline: none;
}

*::selection {
  /* Place selection style declarations here. */
}

button, input {
  appearance: none;

  border: none;
  outline: none;

  font: inherit;
}

body {

}

/* (1) Header styles */

/* (2) Main styles */

/* (3) Footer styles */

